<h2>서울시 골목상권 유동인구</h2>

<h5>기본예제</h5>

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url='http://openapi.seoul.go.kr:8088/access key/xml/InfoTrdarFlpop/1/5/201711'
req=requests.get(url)
html=req.text
soup=BeautifulSoup(html, 'html.parser')
codenumber = soup.find_all('trdar_cd')

In [ ]:
print(html)

In [ ]:
print(soup)

In [3]:
print(codenumber)

[<trdar_cd>000001</trdar_cd>, <trdar_cd>000002</trdar_cd>, <trdar_cd>000003</trdar_cd>, <trdar_cd>000004</trdar_cd>, <trdar_cd>000005</trdar_cd>]

In [4]:
print(codenumber[0])

<trdar_cd>000001</trdar_cd>

In [5]:
print(codenumber[0].text)

000001

<h5> 상권코드번호, 상권코드명, 총유동인구수, 총 남성 유동인구수, 총 여성 유동 인구수,
      연령대 10~60이상 유동인구 수  데이터 수집</h5>

In [6]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [7]:
startnumber=1
endnumber=1000
CommerceInfor = {}

codelist = []
codenamelist = []
totalnumberlist = []
maletotallist = []
femaletotallist = []
agrade_10list = []
agrade_20list = []
agrade_30list = []
agrade_40list = []
agrade_50list = []
above_60list = []

In [8]:
while endnumber<=2000:
    url='http://openapi.seoul.go.kr:8088/access key/xml/InfoTrdarFlpop/'+str(startnumber)+'/'+str(endnumber)+ '/201711'
    req = requests.get(url)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    codenumber = soup.find_all('trdar_cd')
    codename = soup.find_all('trdar_cd_nm')
    totalnumber = soup.find_all('tot_flpop_co')
    maletotal = soup.find_all('ml_flpop_co')
    femaletotal = soup.find_all('fml_flpop_co')
    agrade_10 = soup.find_all('agrde_10_flpop_co')
    agrade_20 = soup.find_all('agrde_20_flpop_co')
    agrade_30 = soup.find_all('agrde_30_flpop_co')
    agrade_40 = soup.find_all('agrde_40_flpop_co')
    agrade_50 = soup.find_all('agrde_50_flpop_co')
    above_60 = soup.find_all('agrde_60_above_flpop_co')
    for code in codenumber:
        codelist.append(code.text)
    for code in codename:
        codenamelist.append(code.text)
    for code in totalnumber:
        totalnumberlist.append(code.text)
    for code in maletotal:
        maletotallist.append(code.text)
    for code in femaletotal:
        femaletotallist.append(code.text)
    for code in agrade_10:
        agrade_10list.append(code.text)
    for code in agrade_20:
        agrade_20list.append(code.text)
    for code in agrade_30:
        agrade_30list.append(code.text)
    for code in agrade_40:
        agrade_40list.append(code.text)
    for code in agrade_50:
        agrade_50list.append(code.text)
    for code in above_60:
        above_60list.append(code.text)
    startnumber+=1000
    endnumber+=1000

In [9]:
CommerceInfor['Code'] = codelist
CommerceInfor['Name'] = codenamelist
CommerceInfor['Total Number'] = totalnumberlist
CommerceInfor['Male Total Number'] = maletotallist
CommerceInfor['Female Total Number'] = femaletotallist
CommerceInfor['Age 10s Number'] = agrade_10list
CommerceInfor['Age 20s Number'] = agrade_20list
CommerceInfor['Age 30s Number'] = agrade_30list
CommerceInfor['Age 40s Number'] = agrade_40list
CommerceInfor['Age 50s Number'] = agrade_50list
CommerceInfor['Age above 60s Number'] = above_60list
df = pd.DataFrame(CommerceInfor)

In [10]:
#열 순서 지정
df = df[['Code','Name', 'Total Number','Male Total Number','Female Total Number','Age 10s Number','Age 20s Number','Age 30s Number','Age 40s Number','Age 50s Number','Age above 60s Number']]

In [16]:
df.head(10)

,Code,Name,Total Number,Male Total Number,Female Total Number,Age 10s Number,Age 20s Number,Age 30s Number,Age 40s Number,Age 50s Number,Age above 60s Number
0,000001,가락로16길,4427,2204,2223,446,770,687,792,1050,682
1,000002,가락로28길,30189,14583,15607,2904,5285,5381,5132,6277,5211
2,000003,가락로36길,20629,11057,9572,2241,4287,4671,3437,3622,2372
3,000004,가로공원로76길,44851,21345,23507,2897,8086,9423,8247,8341,7857
4,000005,가마산로12길,16335,8840,7495,101,2873,3462,3830,3577,2491
5,000006,가마산로15길,13616,7608,6008,261,2597,2912,3034,2800,2012
6,000007,가마산로61길,23348,12294,11054,1117,4925,3842,4910,5739,2814
7,000008,가마산로88길,18728,10444,8283,1816,3953,3367,2989,3470,3131
8,000009,가마산로89길,19622,9573,10048,1793,4010,3480,3638,3576,3125
9,000010,가산로3길,37801,22581,15220,50,11460,10588,6678,6382,2643